<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
	<authentication mode="None" />
    <customErrors mode="Off" />
  </system.web>
	
	<!-- Подключаем базу данных -->
  <connectionStrings>
    <!---
      Устанавливаем MultipleActiveResultSets=true для того, чтобы избавиться от ошибки
        ex.Message: An error occurred while executing the command definition. See the inner exception for details.
        ex.InnerException.Message: There is already an open DataReader associated with this Command which must be closed first.
    -->

    <!-- myWindowsHosting -->
    <!--<add name="CustomerConnectionString" connectionString="Data Source=SQL5009.myWindowsHosting.com;Initial Catalog=DB_9B85CA_demo;User Id=DB_9B85CA_demo_admin;Password=db9b85ca;" providerName="System.Data.SqlClient" />-->
    <!-- MultipleActiveResultSets  - если требуется получить список в списке ( сейчас гружу в память ToList ) -->
    <!-- aspspider -->
    <!--<add name="ApplicationServices" connectionString="Data Source=.\SQLExpress;Persist Security Info=True;Integrated Security=SSPI;Initial Catalog=BarefootFabler_SQLDATABASE;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
    <!-- localhost -->
    <add name="ave.Service.Customers.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SQLDATABASE.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <!-- 1gb -->
    <!--<add name="ApplicationServices" connectionString="Server=ms-sql-6.in-solve.ru;Database=1gb_162245c31490;uid=1gb_imperiaplus;pwd=17cb6080tyu" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
	
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp helpEnabled="true" />
          <!--<enableWebScript />-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true"/>
      </webScriptEndpoint>
    </standardEndpoints>
    
    <bindings>
      <!--<webHttpBinding>
        <binding name="TransportSecurity">
          <security mode="None" />-->
          <!--<security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>-->
        <!--</binding>
      </webHttpBinding>-->
    
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
        
    <services>
      <service name="ave.Service.Customers.ServiceBase" behaviorConfiguration="MyServiceTypeBehaviors">
        <!--<endpoint address="" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" bindingConfiguration="TransportSecurity" contract="ave.Customers.Service.IServiceBase" />-->
        
          <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
          <endpoint address="" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP" contract="ave.Service.Customers.IServiceBase">
          <identity>
            <dns value="" />
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />-->
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:7574/servicebase.svc"/>
            <add baseAddress="http://barefootfabler-001-site1.mywindowshosting.com/servicebase.svc" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
  </system.serviceModel>

	<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>